In [56]:
import csv
import pandas as pd

In [57]:
women_CEOs_path = "2019_WomenCEO_list.csv"
women_CEOs = pd.read_csv(women_CEOs_path)
women_CEOs

,CEO,Company,2019 Fortune 500 ranking,effective date as CEO
0,Mary Barra,General Motors,13,1/15/14
1,Gail Koziara Boudreaux,Anthem Inc.,33,11/1/17
2,Ginni Rometty[3],IBM,38,1/1/12
3,Marillyn Hewson[4],Lockheed Martin,60,1/1/13
4,Corie Barry,Best Buy,74,6/1/19
5,Safra A. Catz,Oracle Corporation,81,9/18/14
6,Phebe Novakovic,General Dynamics,92,1/20/13
7,Tricia Griffith,Progressive Corporation,99,7/1/16
8,Kathy Warden,Northrop Grumman,108,8/1/19
9,Lynn Good[5],Duke Energy,126,7/1/16
10,Michelle Gass,Kohl's,156,5/1/18
11,Vicki Hollub[6],Occidental Petroleum,167,4/1/16
12,Margaret M. Keane,Synchrony Financial,173,7/1/14
13,Christine Leahy,CDW,171,1/1/19
14,Barbara Rentler,Ross Stores,209,6/1/14
15,Beth Ford,Land O'Lakes,212,8/1/19
16,Deanna M. Mulligan,The Guardian Life Insurance Company of America,244,7/1/11
17,Anna Manning,Reinsurance Group of America,251,1/1/17
18,Mary Winston,Bed Bath & Beyond,258,5/1/17
19,Jill Soltau[7],JCPenney,261,10/15/18
20,Kathryn V. Marinello,Hertz Global Holdings,331,1/3/17
21,Mary Laschinger,Veritiv Corporation,347,6/1/16
22,Teresa Rasmussen,Thrivent Financial,351,10/1/18
23,Penny Pennington,Edward Jones,356,1/1/19
24,Joey WatÂ [8],Yum China,362,3/1/18
25,Michele Buck[9],The Hershey Company,391,3/1/17
26,Beth E. Mooney,KeyBank,413,5/1/11
27,Kathleen Mazzarella,Graybar,423,6/1/12
28,Lori Ryerkerk,Celanese Corporation,426,5/1/19
29,Patti Poppe[10],CMS Energy,440,7/1/16
30,Mary Dillon,Ulta Beauty,449,6/1/13
31,Lisa Su,Advanced Micro Devices,460,10/1/14
32,Laura Alber,Williams-Sonoma,495,5/1/10